certifi==2019.6.16
chardet==3.0.4
defusedxml==0.6.0
Django==2.1.10
django-allauth==0.39.1
django-countries==5.3.3
django-crispy-forms==1.7.2
django-mysql==3.2.0
django-pyodbc-azure==2.1.0.0
django-redis==4.10.0
django-taggit==1.1.0
gunicorn==19.9.0
idna==2.8
mysql-connector-python==8.0.11
mysql-connector-python-rf==2.2.2
mysqlclient==1.4.2.post1
oauthlib==3.0.2
Pillow==6.0.0
protobuf==3.9.0
psycopg2==2.8.3
PyMySQL==0.9.3
pyodbc==4.0.27
python-memcached==1.59
python3-openid==3.1.0
pytz==2019.1
redis==3.2.1
requests==2.22.0
requests-oauthlib==1.2.0
six==1.12.0
sorl-thumbnail==12.5.0
sqlparse==0.3.0
urllib3==1.25.3
